<app-sidebar></app-sidebar>
<div class="navbar">
  <div class="nav-logo">A</div>
  <div class="nav-header">ME</div>
  <div class="nav-anchor-container">
    <ul>
      <li style="animation-delay: 0ms;">
        <a href="">About</a>
      </li>
      <li style="animation-delay: 100ms;">
        <a href="">Experience</a>
      </li>
      <li style="animation-delay: 200ms;">
        <a href="">Projects</a>
      </li>
      <li style="animation-delay: 300ms;">
        <a href="">Skills</a>
      </li>
    </ul>
    <button style="animation-delay: 400ms;" class="button-resume">Resume</button>
  </div>
</div>
