<div class="sidebar-container">

    <div class="vertical-line" style="height: 150px; animation-delay: calc(var(--side-bar-animation-duration));"></div>
  
    <div class="email-container" ><a href=""><span style="transform: rotate(90deg);">arpitdixit445@gmail.com</span></a></div>
  
    <div class="vertical-line" style="height: 150px; animation-delay: calc(var(--side-bar-animation-duration) + 100ms);"></div>
  
  
    <div class="hyperlink-logo-container">
      <ul>
        <li>
          <a href="">
            <img src="../assets/GitHub-Mark-64px.png" alt="" class="hyperlink-logo" title="GitHub">
          </a>
        </li>
        <li>
          <a href="">
            <img src="../assets/leetcode.png" alt="" class="hyperlink-logo" title="Leetcode">
          </a>
        </li>
        <li>
          <a href="">
            <img src="../assets/linkedin.png" alt="" class="hyperlink-logo" title="LinkedIn">
          </a>
        </li>
      </ul>
    </div>
  
    <div class="vertical-line" style="height: 300px; animation-delay: calc(var(--side-bar-animation-duration) + 200ms);"></div>
  </div>